
.intro{
  width: 100%; height: 100%;
   min-height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.35)), url(../img/space.jpg) center/cover no-repeat;
}
.intro_wrap{
  color: #F6F6F6;
  font-size:100px;
  text-align: left;
  padding-left: 10%;
  padding-top: 20%;
}
.underbar_box span{
  display: inline-block;
  /* font-size: 54px; */
  color: #fff;
}

/* .underbar{
  width: 0%;
} */
.underbar::after{
  display: block;
  content: '';
   height: 13px;
  background-color: #2152FF;
  animation: underbar 2s ease-in-out;
}
@keyframes underbar{
    0% {width:0%;}
    100% {width: 100%;}
}
.underbar_box{
  
  padding-bottom: 100px;
}
.intro_wrap h1{
  font-size: 100px;
  margin: 0;
}
.text{
  position: relative;
  display: inline-block;

  /* width: 100%; */
}
.text::after{
  position: absolute;
  top: 0; right: 2px;
  font-weight: 400;
  content:"|";
  display: block;
  width: 0px; height: 100%;
  background-color: #fff;
}
.text.active::after{
  display: none;
}